{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зайти</button>
    </form>

    <hr>
    
    <a href="{% provider_login_url 'google' %}">Увійти через Google</a>
    <br><br>
    
    <a href="{% url 'index' %}">Повернутися</a>
</body>
</html>