{% load socialaccount %}
{% load i18n %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Вхід" %}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Зайти" %}</button>
    </form>

    <hr>
    
    <a href="{% provider_login_url 'google' %}">{% trans "Увійти через Google" %}</a>
    <br><br>
    
    <a href="{% url 'index' %}">{% trans "Повернутися" %}</a>
</body>
</html>