{% extends 'base.html' %}
{% load i18n cache %}

{% block title %}{% trans "Список книг" %}{% endblock %}

{% block content %}
    <h2>{% trans "Список книг" %}</h2>

    {% cache 600 book_list_fragment %}
        <ul>
            {% for book in book_list %}
                <li>
                    <a href="{% url 'book_detail' book.pk %}"><strong>{{ book.title }}</strong></a> — {{ book.author }}<br>
                    {% trans "Ціна" %}: {{ book.price }} {% trans "грн" %}.
                </li>
            {% empty %}
                <li>{% trans "Книг поки немає в базі." %}</li>
            {% endfor %}
        </ul>
    {% endcache %}
{% endblock content %}