{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Список книг" %}{% endblock %}

{% block content %}
    <h2>{% trans "Список книг" %}</h2>
    <ul>
        {% for book in book_list %}
            <li>
                <a href="{% url 'book_detail' book.pk %}"><strong>{{ book.title }}</strong></a> — {{ book.author }}<br>
                {% trans "Ціна" %}: {{ book.price }} {% trans "грн" %}.
            </li>
        {% empty %}
            <li>{% trans "Книг поки немає в базі." %}</li>
        {% endfor %}
    </ul>
{% endblock content %}