{% extends 'base.html' %}
{% load i18n %} {% block title %}{% trans "Підтвердження видалення" %}{% endblock %}

{% block content %}
    <h2>{% trans "Підтвердження видалення" %}</h2>
    <form method="post">
        {% csrf_token %}
        
        <p>
            {% blocktrans with title=object.title %}
                Ви впевнені, що хочете назавжди видалити книгу "{{ title }}"?
            {% endblocktrans %}
        </p>
        
        <button type="submit">{% trans "Так, видалити" %}</button>
        <a href="{% url 'index' %}">{% trans "Ні, скасувати" %}</a>
    </form>
{% endblock content %}