{% extends 'base.html' %}
{% load i18n %} {% block title %}{% trans "Книга" %}{% endblock %}

{% block content %}
    <h2>
        {% if object %}
            {% blocktrans with title=object.title %}
                Редагування книги: {{ title }}
            {% endblocktrans %}
        {% else %}
            {% trans "Додавання нової книги" %}
        {% endif %}
    </h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Зберегти книгу" %}</button>
    </form>
{% endblock content %}