{% extends 'base.html' %}
{% load i18n %} {% block title %}{% trans "Категорія книг" %}{% endblock %}

{% block content %}
    <h2>{% trans "Категорії книг" %}</h2>
    <ul>
        {% for category in categories %}
            <li>
                <strong>{{ category.name }}</strong> — 
                {% blocktrans with count=category.books_count %}
                    Кількість книг дорожче 300 грн: {{ count }}
                {% endblocktrans %}
            </li>
        {% empty %}
            <li>{% trans "Категорій не знайдено." %}</li>
        {% endfor %}
    </ul>
{% endblock content%}