{% extends 'base.html' %}
{% load i18n %} {% block title %}{% trans "Головна — Каталог книг" %}{% endblock %}

{% block content %}
    <h2>{% trans "Каталог книг" %}</h2>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.pk %}"><strong>{{ book.title }}</strong></a> — {{ book.author }}<br>
                
                {% blocktrans with price=book.price %}
                    Ціна: {{ price }} грн.
                {% endblocktrans %}<br>
                
                {{ book.description|truncatechars:140 }}
            </li>
        {% empty %}
            <li>{% trans "Книг поки немає в базі." %}</li>
        {% endfor %}
    </ul>
{% endblock content %}